<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>User activation email</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

        <!-- use the font -->
        <style>
            body {
                font-family: 'Roboto', sans-serif;
                font-size: 48px;
            }
        </style>
    </head>
    <body>
        <p th:text="${'Hello from ' + appName}"></p>

        <p th:text="${'We received request for password reset for your ' + appName + ' account. If you did not initiated it please ignore this message.'}"></p>

        <p th:text="${'If you want to reset your password then please click on the link below:'}"></p>

        <p>
            <a th:text="${passwordResetUrl}" th:href="${passwordResetUrl}"></a>
        </p>

        <p>
            Regards, <br/>
            <em th:text="${appName + ' team.'}"></em>
        </p>
    </body>
</html>