<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>User activation email</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

        <!-- use the font -->
        <style>
            body {
                font-family: 'Roboto', sans-serif;
                font-size: 48px;
            }
        </style>
    </head>
    <body>
        <p th:text="${'Hello and welcome to ' + appName}"></p>

        <p>You have successfully created your account. Please click on the link below to activate it. </p>

        <p>
            <a th:text="${activationUrl}" th:href="${activationUrl}"></a>
        </p>

        <p>
            Regards, <br/>
            <em th:text="${appName + ' team.'}"></em>
        </p>
    </body>
</html>